---
import Card from "@components/ui/Card.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { getCollection } from "astro:content";

const offers = await getCollection("offers");
---

<section
  data-testid="offers"
  id="offers"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen"
>
  <SectionTitle>Oferta</SectionTitle>
  <div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
    {
      offers.map((offer) => (
        <Card
          url={offer.data.link}
          title={offer.data.title}
          description={offer.data.description}
          alt={offer.data.img_alt}
          tags={offer.data.tags}
        />
      ))
    }
  </div>
  <!-- TODO: Uncomment when offer details are ready -->
  <!--
  <a
    href="https://github.com/"
    target="_blank"
    rel="noopener"
    class="flex flex-row text-black hover:text-orange dark:text-white dark:hover:text-orange"
    aria-label="link to repository"
  >
    Zobacz pełną ofertę
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="ml-1 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
    </svg>
  </a> -->
</section>
