---
import Card from "@components/ui/Card.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const allOffers = await getCollection("offers");
const offers = allOffers.filter((offer) => offer.data.lang === lang);
---

<section
  data-testid="offers"
  id="offers"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:min-h-dvh"
>
  <SectionTitle>{t("home.offers.title")}</SectionTitle>
  <div class="mb-10 flex w-full flex-col flex-wrap items-stretch md:flex-row">
    {
      offers.length === 0 ? (
        <p class="text-center w-full text-gray-500 my-8 py-8 border border-dashed border-gray-300 dark:border-gray-700 rounded-xl">
          {t("offers.empty")}
        </p>
      ) : (
        offers.map((offer) => (
          <Card
            url={`/offers/${offer.id}`}
            title={offer.data.title}
            description={offer.data.description}
            alt={offer.data.img_alt}
            tags={offer.data.tags}
          />
        ))
      )
    }
  </div>
</section>
