---
import Card from "@components/ui/Card.astro";
import SectionTitle from "@components/ui/SectionTitle.astro";
import { getCollection } from "astro:content";

const offers = await getCollection("offers");
---

<section
  data-testid="offers"
  id="offers"
  class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:min-h-screen lg:min-h-dvh"
>
  <SectionTitle>Oferta</SectionTitle>
  <div class="mb-10 flex w-full flex-col flex-wrap items-stretch md:flex-row">
    {
      offers.map((offer) => (
        <Card
          url={`/offers/${offer.slug}`}
          title={offer.data.title}
          description={offer.data.description}
          alt={offer.data.img_alt}
          tags={offer.data.tags}
        />
      ))
    }
  </div>
</section>
